<a href="https://colab.research.google.com/github/Askoye/IP_Week_3/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2019_07_Ted_Askoye_Pyhton_Notebook_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Moringa Prep Data Science Independent Project: Week 2

Objective

Identify how MTN Cote dÍvorie would like to upgrade its technological infrastructure

Dataset Provided

cells_geo_description.xlsx 
- 
[https://drive.google.com/file/d/1-rIM5ihDu79RaH7rAs-d-7SQSAQhrY9N/view]

cells_geo.csv 
- [https://drive.google.com/file/d/1ABZux280OjL3yWcOn8BDA_f5QsyO0QPU/view]

CDR_description.xlsx 
- [https://drive.google.com/file/d/1cVoNXl25IO5-_yQk97ThdeqhE6yw8YTD/view]

CDR 20120507 [http://bit.ly/TelecomDataset1] 

CDR 20120508 [http://bit.ly/TelecomDataset2] 

CDR 20120509 [http://bit.ly/TelecomDataset3]

We will use Python for our analysis

We'll first Import the Pandas Library then create dataframes for our datasets so as to enable us to manipulate the data i.e. cleaning

In [0]:
import pandas as pd

In [0]:
cells_geo_df_1 = pd.read_csv('cells_geo.csv', delimiter = ";")
print(cells_geo_df_1)

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [0]:
cells_geodes_df = pd.read_excel('cells_geo_description.xlsx', delimiter = ",")
cells_geodes_df

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [0]:
cdr_des_df = pd.read_excel('CDR_description.xlsx', delimiter = ",")
cdr_des_df

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String






We'll then load the three days in question to access there data and later merge them

In [0]:
Sixth_May_df = pd.read_csv('Telcom_dataset.csv', delimiter = ",")
print(Sixth_May_df.head())

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

We'll Clean the Second data set column values from PRODUTC to PRODUCT and DATETIME to DATE_TIME , DW_A_NUMBER_INT to dw_a_number

In [0]:
Sixth_May_df.rename(columns= {'PRODUTC':'Product','VALUE':'Value','DATETIME':'Date_Time','DW_A_NUMBER_INT':'Dw_a_number','DW_B_NUMBER_INT':'Dw_b_number','CELL_ID':'Cell_ID','SITE_ID':'Site_ID'}, inplace=True)
Sixth_May_df

     Product  Value              Date_Time  ... COUNTRY_B     Cell_ID     Site_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

In [0]:
print(Sixth_May_df.head())

  Product  Value              Date_Time  ... COUNTRY_B     Cell_ID     Site_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [0]:
Seventh_May_df = pd.read_csv('Telcom_dataset2.csv', delimiter = ",")
print(Seventh_May_df.head())

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [0]:
Seventh_May_df.rename(columns= {'PRODUCT':'Product','VALUE':'Value','DATE_TIME':'Date_Time','DW_A_NUMBER':'Dw_a_number','DW_B_NUMBER':'Dw_b_number','CELL_ID':'Cell_ID','SITE_ID':'Site_ID'}, inplace=True)
Seventh_May_df

     Product  Value              Date_Time  ... COUNTRY_B     Cell_ID     Site_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]

In [0]:
print(Seventh_May_df.head())

  Product  Value              Date_Time  ... COUNTRY_B     Cell_ID     Site_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [0]:
Eighth_May_df = pd.read_csv('Telcom_dataset3.csv', delimiter = ",")
print(Eighth_May_df.head())

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

We'll clean the Third data Set by cleaning some of the columns i.e data set SIET_ID to SITE_ID and PRODUTC to PRODUCT


This will enable us to Merge the Dataframes

In [0]:
Eighth_May_df.rename(columns= {'PRODUCT':'Product','VALUE':'Value','DATE_TIME':'Date_Time','DW_A_NUMBER_INT':'Dw_a_number','DW_B_NUMBER_INT':'Dw_b_number','CELLID':'Cell_ID','SIET_ID':'Site_ID'}, inplace=True)
Eighth_May_df

     Product  Value              Date_Time  ... COUNTRY_B     Cell_ID     Site_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 10 columns]

In [0]:
print(Eighth_May_df.head())

  Product  Value              Date_Time  ... COUNTRY_B     Cell_ID     Site_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

We'll merge the datasets to enable us compare the Data in the datasets

In [0]:
Telcom_Dataset_All = Sixth_May_df.append([Seventh_May_df,Eighth_May_df])
Telcom_Dataset_All

     Product  Value              Date_Time  ... COUNTRY_B     Cell_ID     Site_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[15003 rows x 10 columns]

We'll Drop Country A, Country B and the CELL ON SITE since we know the Country and The Cell Site is not required

In [0]:
Telcom_Dataset_All.drop(['COUNTRY_A','COUNTRY_B','CELL_ON_SITE'], axis=1, inplace=True)
Telcom_Dataset_All

     Product  Value  ...     Cell_ID     Site_ID
0      Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  ...  /+cKZKIp41  /+cKZKIp41
2        sms     25  ...  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  ...  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  ...  051KhYDCpv  051KhYDCpv
...      ...    ...  ...         ...         ...
4996   Voice      0  ...  2aa04dcab7  f7d63a29e5
4997   Voice     62  ...  7f1f2f889f  b4ddb9e93c
4998   Voice     32  ...  a4731e780e  d68260ef50
4999   Voice     30  ...  98ed726da2  b4130b54ab
5000   Voice     60  ...  1c11a2fcbb  6d70dae094

[15003 rows x 7 columns]

We'll preview the First 5 Values of the combined Dataset

In [0]:
Telcom_Dataset_All.head()

  Product  Value  ...     Cell_ID     Site_ID
0   Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  ...  /+cKZKIp41  /+cKZKIp41
2     sms     25  ...  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  ...  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  ...  051KhYDCpv  051KhYDCpv

[5 rows x 7 columns]

Which Areas have the Highest number of users

In [0]:
High_Users = Telcom_Dataset_All.groupby(['Cell_ID','Site_ID'])['Cell_ID'].count().sort_values(ascending=False).head(10)
print(High_Users)

Cell_ID     Site_ID
03ee801971  7f76d66503    75
cc7ce19d6b  b47a998a3e    65
d22224b2fa  2d58cad870    43
b78724d6fc  ea07812c27    42
f54e480df9  928a59b635    41
e5e1285933  e9639876a8    39
cd828df0e4  c07a544c63    39
613afb4ef6  40bb97c420    38
ef7d7f4e3b  91e86be9a6    37
b4f8f69157  8e6413d5b8    37
Name: Cell_ID, dtype: int64

Find the area with the Highest number of Cell users

In [0]:
High_Area = cells_geo_df_1[cells_geo_df_1.SITE_CODE.eq('7f76d66503')]
print(High_Area)

      Unnamed: 0     VILLES      STATUS  ...           AREA     CELL_ID   SITE_CODE
1024        1024  ATTECOUBE  In Service  ...  ABIDJAN NORTH  1ce5a37ea9  7f76d66503
1025        1025  ATTECOUBE  In Service  ...  ABIDJAN NORTH  9e8e5e6e80  7f76d66503
1026        1026  ATTECOUBE  In Service  ...  ABIDJAN NORTH  122a33b94a  7f76d66503
1027        1027  ATTECOUBE  In Service  ...  ABIDJAN NORTH  3cd16ca46c  7f76d66503
1028        1028  ATTECOUBE  In Service  ...  ABIDJAN NORTH  d6a6e27eeb  7f76d66503
1029        1029  ATTECOUBE  In Service  ...  ABIDJAN NORTH  0c77287c00  7f76d66503

[6 rows x 12 columns]

Find out which City was used the most in the three days

In [0]:
Value_High = Telcom_Dataset_All['Value']
Value_Type = Telcom_Dataset_All['Product'] == 'Voice'

Voice_High_City = Telcom_Dataset_All[Value_High & Value_Type].sort_values(by=['Value'],ascending=0).head(10)
print(Voice_High_City)
""
Value_High = Telcom_Dataset_All['Value']
Value_Type = Telcom_Dataset_All['Product'] == 'sms'

Sms_High_City = Telcom_Dataset_All[Value_High & Value_Type].sort_values(by=['Value'],ascending=0).head(10)
print(Sms_High_City)
""
Value_High = Telcom_Dataset_All['Value']
Value_Type = Telcom_Dataset_All['Product'] == 'data'

Data_High_City = Telcom_Dataset_All[Value_High & Value_Type].sort_values(by=['Value'],ascending=0).head(10)
print(Data_High_City)

     Product  Value  ...     Cell_ID     Site_ID
3806   Voice   1007  ...  00404e0105  686b7e541c
2472   Voice    993  ...  6fddc7c18f  f191951c20
4574   Voice    739  ...  cb25310346  901f4120cb
3234   Voice    721  ...  f9c34a3e8f  62a0065954
4942   Voice    675  ...  81ce9eeade  03528506ff
4333   Voice    663  ...  32b36c0459  200a092e1c
4153   Voice    601  ...  5eb266f671  4e76973e5a
2298   Voice    525  ...  35ea965ae6  244bc13af3
2881   Voice    523  ...  d250ec4e98  69bdfc69fd
3385   Voice    467  ...  7af7f866c8  d29252461f

[10 rows x 7 columns]
     Product  Value  ...     Cell_ID     Site_ID
539      sms     75  ...  9dErPB9dKW  9dErPB9dKW
3965     sms     75  ...  48fb6994b8  91e6228e6f
4142     sms     75  ...  03ba8f1467  fe91ac057a
4223     sms     75  ...  2f0624c6c9  84eb207483
3121     sms     75  ...  45c89352d5  63c810f02d
3418     sms     75  ...  aedcde1854  8b43fe1f7f
4185     sms     75  ...  9bd8a02f7d  b7f8585aaa
1608     sms     75  ...  ae0553c798  58657f2784
4261     sms     75  ...  9bd8a02f7d  b7f8585aaa
1995     sms     25  ...  5935c85c67  7fa72a1ee3

[10 rows x 7 columns]
     Product  Value  ...     Cell_ID     Site_ID
1659    data    517  ...  ffa6759bb2         NaN
2796    data    467  ...  ffa6759bb2         NaN
3256    data    447  ...  ffa6759bb2         NaN
2212    data    371  ...  ffa6759bb2         NaN
512     data    279  ...  MmwcRvyLoz  MmwcRvyLoz
3380    data    209  ...  ffa6759bb2         NaN
2055    data    205  ...  ffa6759bb2         NaN
347     data    205  ...  93mO70RgHR  93mO70RgHR
1392    data    151  ...  ffa6759bb2         NaN
4764    data    123  ...  ffa6759bb2         NaN

[10 rows x 7 columns]

Find out the name of the cities which had highest usage in Voice, Sms and Digital Services(Data)

In [0]:
High_Voice_City = cells_geo_df_1[cells_geo_df_1.SITE_CODE.eq('686b7e541c')]
print(High_Voice_City)

      Unnamed: 0  VILLES      STATUS  ...        AREA     CELL_ID   SITE_CODE
1644        1644  GAGNOA  In Service  ...  SOUTH WEST  18fa2cc5be  686b7e541c
1645        1645  GAGNOA  In Service  ...  SOUTH WEST  93ddba2966  686b7e541c
1646        1646  GAGNOA  In Service  ...  SOUTH WEST  c994c0b586  686b7e541c
1647        1647  GAGNOA  In Service  ...  SOUTH WEST  006735f201  686b7e541c
1648        1648  GAGNOA  In Service  ...  SOUTH WEST  1d3abca085  686b7e541c
1649        1649  GAGNOA  In Service  ...  SOUTH WEST  91fe9944a6  686b7e541c

[6 rows x 12 columns]

In [0]:
High_Data_City = cells_geo_df_1[cells_geo_df_1.CELL_ID.eq('ffa6759bb2')]
print(High_Data_City)

Empty DataFrame
Columns: [Unnamed: 0, VILLES, STATUS, LOCALISATION, DECOUPZONE, ZONENAME, LONGITUDE, LATITUDE, REGION, AREA, CELL_ID, SITE_CODE]
Index: []

In [0]:
High_Sms_City = cells_geo_df_1[cells_geo_df_1.SITE_CODE.eq('fe91ac057a')]
print(High_Sms_City)

     Unnamed: 0      VILLES      STATUS  ...           AREA     CELL_ID   SITE_CODE
275         275  PORT-BOUET  In Service  ...  ABIDJAN SOUTH  0b4827da5e  fe91ac057a
276         276  PORT-BOUET  In Service  ...  ABIDJAN SOUTH  715addb23b  fe91ac057a
277         277  PORT-BOUET  In Service  ...  ABIDJAN SOUTH  4cd8a400c4  fe91ac057a

[3 rows x 12 columns]

Services that were used mostly i.e Voice, Data or Sms

In [0]:
Telcom_Dataset_All.sort_values(by=['Value'],ascending=0).head(10)

     Product  Value  ...     Cell_ID     Site_ID
1550   Voice  12900  ...  2def69183e         NaN
1836   Voice   6750  ...  3f5ac97214  a64fc672f1
1228    data   4440  ...  ffa6759bb2         NaN
458    Voice   4212  ...  MpOhP3OKNN  MpOhP3OKNN
1071   Voice   3380  ...  5a7f6cf0fa  2e828e607c
1845   Voice   2330  ...  13c129b7fa  ea868b8a04
2780   Voice   2212  ...  c68a1b9da4  969b8d0e39
4115   Voice   2120  ...  0cbdf715d0  2dc799193c
4880   Voice   1860  ...  6f3a2df445  f939f3349c
41     Voice   1610  ...  47yB6si0R9  47yB6si0R9

[10 rows x 7 columns]

The service used the most was Voice Services then closely followed by Data then SMS

Saving the Analysis into a CSV file